.intro {
    &__inner {
        background: rgba(240, 99, 184, 0.15);
        border-radius: 50px;
        display: flex;
        margin-bottom: 153px;
        max-width: 1117px;
    }
    &__image-box {
        padding: 32px 62px 24px 11px;
    }

    &__content {
        padding: 125px 92px 125px 0px;
    }
    &__title {
        color: $primary-text;
        font-family: $Helvetica;
        font-weight: 700;
        font-size: 2.5rem;
        line-height: 130%;
        margin-bottom: 40px;
    }
    &__text {
        color: $secondary-text;
        font-family: $Avenir;
        font-weight: 500;
        font-size: 1.125rem;
        line-height: 160%;
    }
}

@media (max-width: 991px) {
    .intro {
        &__inner {
            flex-direction: column;
            margin-bottom: 70px;
        }
        &__image-box {
            margin-top: -200px;
            padding: 0;
            text-align: center;
        }
        &__content {
            text-align: center;
            padding: 10px 30px 60px;
        }
        &__title {
            text-align: center;
            font-size: 2.18rem;
            line-height: 1;
            margin-bottom: 20px;
        }
    }
}

@media (max-width: 555px) {
    .intro {
        &__image {
            width: 100%;
            height: auto;
        }
    }
}
