$background-main:linear-gradient(180deg, #F6FAFD 0%, #FFFFFF 19.4%);


$primary-text:   #212353;
$secondary-text: #4B5D68;

// I could not find Avenir and Helvetica on google fonts for free.
// I have added these two and gave all text proper weight and size.

$Avenir : 'Montserrat', sans-serif;
$Helvetica: 'Open Sans', sans-serif;

$transition: .1s linear;

$font-size: 16px;
$line-height:16px;

$container-width: 1150px;